body{
    background-color:#efefef;
    margin: 60px auto;

}
body:hover{
  background-color:honeydew;
}
#c1{
  text-align: center;
  color:goldenrod;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  font-size: 50px;
  margin: 80px auto;
  
}

#tab {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: 12%;
  }
  
  #tab td, #tab th {
    border: 1px solid gray;
    padding: 8px;
    border-radius: 28%;
    border-width: 5px;
    color:pink;
    font-weight: bolder;
  }
  
  #tab tr:nth-child(odd){background-color: lightskyblue;}
  
  


  
  #tab th {
    padding-top: 11px;
    padding-bottom: 10px;
    text-align: center;
    background-color:greenyellow;
    color: black;
  }
  #tab td{
      text-align: center;
  }
  .image{
      height: 90px;
      width: 200px;
  }